<h1 class="text-center text-xl font-bold">
  Game Exploration
</h1>

<cz-ui-blocker
  [target]="sweeperGrid"
  [blocked]="gameState?.result != 'inProgress'"
  [showLoading]="false"
>
  @if (gameState?.result == 'win') {
    <p-message size="small">
      🎉 You win! 🎉 
    </p-message>
  }
  @else {
    <p-message size="small" severity="error">
      Game Over ☹️
    </p-message>
  }
</cz-ui-blocker>

<p-card 
  styleClass="
    max-w-fit w-fit mx-auto mt-8
    border-4 bg-content-background border-toolbar-border-color
  "
>
  <!-- Top scores -->  
  
  <div class="max-w-full mb-4 mx-2">
    <digital-display
      label="Time"
      [value]="gameState?.timer | durationFormat: 'ms': 'hhmmss'"
    ></digital-display>

    <digital-display
      label="Left clicks"
      [value]="gameState?.leftClicks"
    ></digital-display>

    <digital-display
      label="Right clicks"
      [value]="gameState?.rightClicks"
    ></digital-display>

    <div class="flex w-full justify-center">
      @switch (gameState?.result) {
        @case ('win') {
          <p-tag severity="success" value="Winner" />
        }
        @case ('lose') {
          <p-tag severity="danger" value="Game Over" />
        }
        @default {
          <p-tag value="In Progress" />
        }
      }
    </div>
  </div>

  <!--  Game grid -->

  <blockable-div #sweeperGrid class="block mx-auto w-fit h-fit p-2">
    <sweeper-grid
      [xn]="xn"
      [yn]="yn"
      [mines]="mines"
      (onGameOver)="onGameOver()"
      (onWin)="onWin()"
    ></sweeper-grid>
  </blockable-div>

  <!-- Bottom tools -->

  <div class="inline-flex justify-center w-full gap-4 mt-4">
    <p-button
      size="small" 
      label="Solve"
      (onClick)="onAutoSolve()"
      ></p-button>  
      <!-- [disabled]="gameState()?.result != 'inProgress'" -->

    <p-button
      class="ml-4"
      size="small" 
      label="Reset"
      (onClick)="onReset()"
    ></p-button>
  </div>
</p-card>