<nz-layout class="min-h-full">
  <nz-header>
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </nz-header>
  
  <nz-content>
    <ng-content></ng-content>
  </nz-content>

  <nz-footer>
    <cz-footer></cz-footer>
  </nz-footer>
  
</nz-layout>

<ng-template #header>
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-8">
      <nz-avatar 
        nzIcon="user"
        nzSize="large"
        [nzSrc]="avatarSource()"
      ></nz-avatar>
      
      <nz-page-header-title>
        Cezeta.
      </nz-page-header-title>
    </div>
    
    <div class="flex items-center gap-4">
      <cz-language-selector></cz-language-selector>
      <cz-dark-mode-switch></cz-dark-mode-switch>
    </div>
  </div>
</ng-template>
