<h1 class="text-center text-xl font-bold mb-8">
  {{ 'home.contact.title' | translate }}
</h1>

<form 
  [formGroup]="contactForm"
  class="flex flex-col w-full max-w-md mx-auto gap-8"
> 
  <!-- Email Field -->
  <cz-text-input
    formControlName="email"
    [floatLabel]="'home.contact.email' | translate"
  ></cz-text-input>
  
  <!-- Subject Field -->
  <cz-text-input
    formControlName="subject"
    [floatLabel]="'home.contact.subject' | translate"
  ></cz-text-input>
  
  <!-- Message Field -->
  <cz-text-area
    formControlName="message"
    [floatLabel]="'home.contact.body' | translate"
  ></cz-text-area>
  
  <!-- Submit Button -->
  <div class="flex justify-end">
    <p-button
      [label]="'home.contact.submit' | translate" 
      [disabled]="contactForm.invalid"
      icon="pi pi-send"
      iconPos="right"
      (onClick)="onSubmit($event)"
    ></p-button>
  </div>
</form>
