<!-- Header -->

<header tuiNavigationHeader class="!py-8">
  <span tuiNavigationLogo>
    <tui-avatar size="m"[src]="avatarSource() | tuiFallbackSrc: '@tui.user' | async" />
  </span>

  <div tuiHeader class="flex !items-center w-full">
    <h1 tuiTitle> Cezeta </h1>
    <div tuiAccessories>
      <dark-mode-switch></dark-mode-switch>
    </div>
  </div>

</header>

<!-- Main Content -->

<main tuiNavigationMain>
  
  <nav compact tuiSubheader class="mb-4">
    <div>
      <tui-tabs 
        class="!h-[2.5rem]"
        size="l" 
        underline="true" 
        [activeItemIndex]="tabIdx()" 
      >
        @for (tab of tabs(); track tab.title; let i = $index) {
          <a tuiTab 
            type="button"
            [iconStart]="tab.icon"
            [routerLink]="tab.route"
            routerLinkActive="active"
          >
            {{tab.title}}
        </a>
        }
      </tui-tabs>
    </div>
  </nav>

  <ng-content>

  </ng-content>

</main>