<!-- Header -->

<header tuiNavigationHeader class="!py-8">
  <span tuiNavigationLogo>
    <tui-avatar size="m"[src]="avatarSource() | tuiFallbackSrc: '@tui.user' | async" />
  </span>

  <div tuiHeader class="flex !items-center w-full">
    <h1 tuiTitle> {{ headerTitle() }} </h1>
    <div tuiAccessories>
      <cz-language-selector></cz-language-selector>
      <cz-dark-mode-switch></cz-dark-mode-switch>
    </div>
  </div>

</header>

<!-- Main Content -->

<main tuiNavigationMain>
  
  <nav compact tuiSubheader class="mb-8">
    <div class="flex justify-between w-full">
      <tui-tabs 
        class="!h-[2.5rem] !shadow-none"
        size="l" 
        underline="true" 
        [activeItemIndex]="tabIdx()" 
      >
        @for (tab of tabs(); track tab.title; let i = $index) {
          <a tuiTab 
            type="button"
            [iconStart]="tab.icon"
            [routerLink]="tab.route"
            routerLinkActive="active"
          >
            {{tab.title}}
        </a>
        }
      </tui-tabs>
    </div>

    <ng-container *ngTemplateOutlet="socials"></ng-container>
  </nav>

  <ng-content></ng-content>

</main>

<app-footer class="w-full self-end"></app-footer>

<!-- Templates -->

<ng-template #socials>
  <div class="inline-flex items-center gap-2 h-full pl-6">
    <icon-button
      appearance="flat" size="s" icon="@tui.linkedin"
      (click)="onSocialsClick('linkedin')"
    ></icon-button>

    <icon-button
      appearance="flat-destructive" size="s" icon="@tui.github"
      (click)="onSocialsClick('github')"
    ></icon-button>
  </div>
</ng-template>
