<div class="grid grid-cols-12 h-full w-full px-8">

  <div class="flex flex-col gap-8 col-span-9">
    <div tuiHeader="h1" class="!mb-8">
      <h1 tuiTitle>
        <div tuiCaption class="!text-md">Hey, my name is</div>
        <p class="title-color text-[3rem] font-bold">Julián Czerweny</p>
        <div tuiSubtitle class="!text-xs">Find me online as <span class="!italic !underline">Cezeta</span></div>
      </h1>
    </div>
    
    <div class="text-lg">
      Passionate Software Engineer with 4 years of <span class="!underline">Full-Stack Web Development</span> experience. 
      Excited about working with new technologies and keep improving known skills. Team-player that values feedback and fellowship.
    </div>

    <div class="text-sm">
      Born in <span class="text-lg rounded-lg fi fi-ar"></span>. 
      <br/>
      Living in <span class="text-lg rounded-lg fi fi-au"></span>.
    </div>
  </div>
  
  <div class="col-span-3">
    <img 
      class="w-full h-full rounded-lg object-contain border-[1px] border-gray-200/25 p-[0.25rem]" 
      src="assets/images/me.png" 
      alt="portrait"
    >
  </div>

  <div class="col-span-12">
    <div tuiHeader class="!my-8 !pt-4 border-t border-gray-200/25">
      <h1 tuiTitle>
        Experience
      </h1>
    </div>

    <div class="flex flex-col gap-4 mx-8">

      @for (exp of experiences; track exp) {

        <cz-card>
          <div cz-card-header-title>
            {{ exp.title }}
          </div>
    
          <div cz-card-header-right class="inline-flex text-sm font-normal align-end mb-2 mr-4">
            <span>
              {{ exp.company }}

              <a tuiLink
                class="!pl-2 !text-xs"
                iconStart="@tui.link"
                [href]="exp.url"
                target="_blank"
              ></a>

              <vertical-bar></vertical-bar>

              {{ exp.startDate }} – {{ exp.endDate }}
              
              <vertical-bar></vertical-bar>
              
              {{ exp.country }}
            </span>
          </div>
          
          <ul class="tui-list tui-list_large">
            @for (itm of exp.items; track itm) {
              <li class="tui-list__item !text-md !font-normal">
                <span [innerHTML]="itm"></span>
              </li>      
            }
          </ul>
        </cz-card>

      }
    </div>

  </div>
</div>