<h1 class="text-center text-xl font-bold mb-8">
  {{ 'home.resume.title' | translate }}
</h1>

<div>
  <ng-container *ngTemplateOutlet="tldr"></ng-container>
</div>

<!-- Small Template -->

<div class="flex flex-col items-center w-full gap-8 md:hidden">
  @for (exp of experiences; track $index) {
    <ng-container 
      *ngTemplateOutlet="xpCardSm; context: { $implicit: exp }"
    ></ng-container>
  }
</div>

<!-- Large Template -->

<div class="hidden flex-col items-center w-full gap-4 md:flex">
  @for (exp of experiences; track $index) {
    <ng-container
      *ngTemplateOutlet="xpCardLg; context: { $implicit: exp }"
    ></ng-container>
  }
</div>

<!---- Templates ---->

<!-- TLDR -->

<ng-template #tldr>
  <div 
    class="
      flex w-full justify-end
      mb-8
      md:relative md:m-0
    "
  >
    <div 
      class="
        inline-flex items-center
        block md:absolute
        -top-15 right-8
        w-fit
        rounded-lg 
        border border-toolbar-border-color
        shadow-lg 
      "
    >
      <span class="mx-2 h-fit text-center text-sm text-center text-muted-color">
        Want it for takeout?
      </span>
    
      <p-button
        styleClass="text-text-color"
        severity="danger"
        icon="pi pi-file-pdf"
        (onClick)="onTLDR()"
      ></p-button>
    </div>
  </div>

</ng-template>

<!-- Experience card (SMALL) -->

<ng-template #xpCardSm let-exp>
  <p-panel
    class="w-full" 
    styleClass="
      relative !shadow-lg 
      [&>_.p-panel-header]:!bg-content-hover-background
      [&>_.p-panel-header]:!border-b
      [&>_.p-panel-header]:!py-4
      [&>_.p-panel-header]:!flex
      [&>_.p-panel-header]:!flex-col
      [&>_.p-panel-header]:[&>_.p-panel-icons]:!w-full

      [&>_.p-panel-content-container]:[&>_.p-panel-content]:!px-4
      [&>_.p-panel-content-container]:[&>_.p-panel-content]:!py-4

      [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!border-t
      [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!border-toolbar-border-color
      [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!p-0
    "
  >
    <ng-template #header>
      <span class="mb-2 text-center text-lg font-bold">{{ exp.title }}</span>
    </ng-template>

    <ng-template #icons>
      
      <span class="flex flex-col [&>*]:self-start text-sm text-muted-color whitespace-nowrap">
        <span class="inline-flex">
          {{ exp.company }}
          <a 
            class="flex items-center justify-center ml-2"
            [href]="exp.url" target="_blank"
          ><i class="pi pi-link text-primary"></i></a>
        </span>
        <span class="flex items-center justify-end">
          {{ exp.startDate }} – {{ exp.endDate }} 
          <p-divider layout="vertical" styleClass="!py-1 !mx-2" /> 
          {{ exp.country }}
        </span>
      </span>
    </ng-template>

    <!-- Content -->
    <ul class="list-disc list-outside ml-4 [&>li+li]:mt-2">
      @for (itm of exp.items; track itm) {
        <li class="!text-sm !font-normal marker:text-primary">
          <span [innerHTML]="itm"></span>
        </li>
      }
    </ul>

    @if (exp.techs) {
      <ng-template #footer>
        <div class="inline-flex flex-wrap max-w-full h-full m-4 gap-4">
          @for (i of exp.techs; track i) {
            <img
              height="32" width="32" 
              [src]="`https://cdn.simpleicons.org/${i}/black/white`"
              [pTooltip]="i" tooltipPosition="bottom" 
            />
          }
        </div>
        
      </ng-template>
    }

    <p-button class="absolute -top-4 -left-4" styleClass="shadow-lg" icon="pi pi-asterisk" [rounded]="true" />
  </p-panel>
</ng-template>

<!-- Experience Card (LARGE) -->

<ng-template #xpCardLg let-exp>

  <div 
    class="
      inline-flex w-full gap-4 max-w-[90%] 
      lg:max-w-[80%]
    "
  >

    <div class="flex flex-col">
      <p-button styleClass="shadow-lg" icon="pi pi-asterisk" [rounded]="true" />
      <div class="vertical-line grow w-[3px]"></div>
    </div>
    
    <p-panel 
      class="w-full" 
      styleClass="
        !shadow-lg 
        [&>_.p-panel-header]:!bg-content-hover-background
        [&>_.p-panel-header]:!border-b
        [&>_.p-panel-header]:!py-4

        [&>_.p-panel-content-container]:[&>_.p-panel-content]:!px-4
        [&>_.p-panel-content-container]:[&>_.p-panel-content]:!py-4

        [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!border-t
        [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!border-toolbar-border-color
        [&>_.p-panel-content-container]:[&>_.p-panel-footer]:!p-0
      "
    >

      <ng-template #header>
        <span class="text-lg font-bold">{{ exp.title }}</span>
      </ng-template>

      <ng-template #icons>
        <span
          class="
            inline-flex w-full 
            text-sm text-muted-color 
            whitespace-nowrap
          "
        >
          {{ exp.company }}

          <a
            [href]="exp.url"
            target="_blank"
            class="flex items-center justify-center ml-2"
          >
            <i class="pi pi-link text-primary"></i>
          </a>

          <p-divider layout="vertical" styleClass="!py-1 !mx-2" />

          {{ exp.startDate }} – {{ exp.endDate }}
          
          <p-divider layout="vertical" styleClass="!py-1 !mx-2" />

          {{ exp.country }}
        </span>
      </ng-template>

      <!-- Content -->
      <ul class="list-disc list-outside ml-4 [&>li+li]:mt-2">
        @for (itm of exp.items; track itm) {
          <li class="!text-sm !font-normal marker:text-primary">
            <span [innerHTML]="itm"></span>
          </li>
        }
      </ul>

      @if (exp.techs) {
        <ng-template #footer>
          <div class="inline-flex flex-wrap max-w-full h-full m-4 gap-4">
            @for (i of exp.techs; track i) {
              <img
                height="32" width="32" 
                [src]="`https://cdn.simpleicons.org/${i}/black/white`"
                [pTooltip]="i" tooltipPosition="bottom" 
              />
            }
          </div>
          
        </ng-template>
      }

    </p-panel>
  </div>

</ng-template>
