/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, body * {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}

.app-root {
  display: block;
  min-height: 100%;
  min-width: 100%;
}